.footer {
    background-color: #1f1f1f;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .footer-links h4 {
    color: white;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: white;
    display: block;
  }
  
  hr {
    border: 0.5px solid #666;
    margin: 20px 0;
  }
  